<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register User</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/register">Homepage</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
        </ul>
    </nav>
    <form action="/register" method="get">
        <div>
        <label for="email">Email</label><br>
        <input type="text" placeholder="type your email" id="email" name="email" required ><br>
    </div>
    <div>
        <label for="password">password:</label><br>
        <input type="text" placeholder="type your password" id="password" name="password" required ><br>
    </div>
    <div>
        <!-- <input type="submit" value="Login"/> -->
        <button type="submit">Submit</button>
    </div>
    </form>
</body>
</html>